<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GSDBOMM</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
    #map {
      font-family: 'Helvetica Neue', Helvetica, sant-serif;
      height: 90vh;
      margin: 5vh auto;
      width: 50%;
    }
  </style>
</head>
<body>
  <div id="app">
    <div id="map"></div>
  </div>
  <script src="js/client.js"></script>
</body>
</html>
