<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GSDBOMM</title>
  <style>
    #map {
      font-family: 'Helvetica Neue', Helvetica, sant-serif;
      height: 80vh;
      margin: 10vh auto;
      width: 80%;
    }
  </style>
</head>
<body>
  <div id="app">
    <div id="map"></div>
  </div>
  <script src="js/client.js"></script>
</body>
</html>
